
<div class="container" >
    <nav class="light-blue darken-1">
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
                <li><a ng-click="entrarPag1()">Emergencias<span class="new badge blue lighten-4">3</span></a></li>
                <li><a ng-click="entrarPag2()">Contactos</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a ng-click="salir()">Salir</a></li>
            </ul>
        </div>
    </nav>
    <div class="card panel black-text">
        <p>Usuario: Juan Carlos Garcia Chavez</p>
    </div>
    <div class="card-panel white">
        <div class="row">
            <table class="highlight">
                <thead>
                <tr>
                    <th>Contacto: Juan Jose Garcia Silva</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <th>DNI:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Tipo de emergencia:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Hospital:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Ubicación:</th>
                    <td>---</td>
                </tr>

                </tbody>
            </table>

        </div>
        <div class="row">
            <table class="highlight">
                <thead>
                <tr>
                    <th>Contacto: Juan Jose Garcia Silva</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <th>DNI:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Tipo de emergencia:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Hospital:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Ubicación:</th>
                    <td>---</td>
                </tr>

                </tbody>
            </table>


        </div>
        <div class="row">
            <table class="highlight">
                <thead>
                <tr>
                    <th>Contacto: Juan Jose Garcia Silva</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <th>DNI:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Tipo de emergencia:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Hospital:</th>
                    <td>---</td>
                </tr>
                <tr>
                    <th>Ubicación:</th>
                    <td>---</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>